{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
    <h1 class="title">Edit Profile</h1>

    <form method="post" action="{% url 'edit-profile' %}">
        {% csrf_token %}

        <div class="field">
            <label>Username</label>

            <div class="control">
                <input type="text" name="name" id="id_name" value="{{ author.username }}" class="input">
            </div>

        </div>

        <div class="field">
            <label>E-mail</label>

            <div class="control">
                <input type="email" name="email" id="id_email" value="{{ author.created_by.email }}" class="input">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Save changes</button>
            </div>
        </div>
    </form>
{% endblock %}